.button {
	background-color: #F3AA00;
	color: #000000;
	i {
		color: #000000;
	}
	&:hover {
		background-color: #F3AA00;
		color: #000000;
	}
}

.default {
	width: 100%;
}
.add {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 64px;
	height: 64px;
}
.addOutline {
	width: 36px !important;
	height: 36px !important;
	background-color: transparent !important;
	border: 1px solid white !important;
	color: white !important;
	i {
		color: white !important;
	}
}